---
Language: Cpp
BasedOnStyle: Google
ColumnLimit:  80

AccessModifierOffset: -2
ContinuationIndentWidth: 2
IndentWidth: 2

DerivePointerAlignment: false
PointerAlignment: Right

AlignAfterOpenBracket: BlockIndent
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakInheritanceList: AfterColon
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false
FixNamespaceComments: true
PackConstructorInitializers: NextLineOnly
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
