---
Language: Cpp
BasedOnStyle: Google
ColumnLimit:  80

AccessModifierOffset: -2
ContinuationIndentWidth: 2
IndentWidth: 2

DerivePointerAlignment: false
PointerAlignment: Right

AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakInheritanceList: AfterColon
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false
ConstructorInitializerIndentWidth: 2
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
PackConstructorInitializers: NextLineOnly
RemoveSemicolon: true
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
