[submodule "CoMMA_lib/pybind11"]
	path = CoMMA_lib/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "CoMMA_lib/dualGPy"]
	path = CoMMA_lib/dualGPy
	url = git@github.com:albiremo/dualGPy.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2
