# Build related
build*/
install*/
compile_commands.json
# Custom
bkp*
ref*
# Python
.cache
# Git stuff
*.patch
*.orig
# Editors
.vscode
# Documentation
documentation
Doxyfile.bak
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
